<!DOCTYPE html>
<html lang="en">
<head>
    <title>HDPS</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="materliaze.css">

</head>
<body>
  <nav>
    <input type="text" name="checkbox " id="check">
    <label for ="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Heart Desease Pridiction</label>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">SIGN IN</a></li>
    </ul>
    <section>
    </section>
  </nav>
  
        <div class="slider" >
          
          
               <div class="caption left-align" >
                
                  <br>
                  <h2 class="black-text">Predict your <br>Heart Disease Now</h2>
                  
                  <br>
                
                  <a class=" black  waves-effect waves-light btn"  href="index.html"> Quickly Predict </a> 
                   &nbsp; &nbsp;
                  <a class=" black  waves-effect waves-light btn" href="hdpsform.html"> Signup </a> 
    
                </div>  
          </div>
          
          
            
            
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
   
                     <!--   Icon Section   -->
                    
                    <div class="container-fluid">
                    <div class="row width_content" style="width: 90%;"margin="auto;" >
                      <div class="row">
                                              <div class="col m4 s12 l4">
          
                    <br>
                     
                      
          <div class="column">
            <p style="text-align:center;"><i class="fas fa-laptop-medical"></i>&nbsp&nbsp&nbsp<b>EASY</b></p>
                      <p style="margin-left: 15px; font-size: 20px; margin-right: 15px; text-align:center;">
                       Heart Disease Prediction System (HDPS) has very clean and 
                         simple user-friendly interface. User with simple knowledge of computer and internet can easily navigate through Heart Disease Prediction System and make maximum 
                         use of it to their benefit.</p>
                        
                        </div>
                    </div>
          
                  <div class="col m4 s12 l4">
          
                  
                   
                   <div class="column">
                    <p style="text-align:center;"><i class="far fa-address-card"></i>&nbsp&nbsp&nbsp<b>RELIABLE</b></p>
                      <p style="margin-left: 15px;font-size: 20px; margin-right: 15px; text-align: center;"> Heart Disease Prediction System (HDPS) is very reliable as 
                        it uses Machine Learning Technology which predicts the Heart Disease with very good accuracy. 
                        It may not be hundred percentage accurate but the result will provide the good rough outline about the user’s heart disease.    
                      </p>
                   </div>
                  </div>
          
                  <div class="col m4 s12 l4">
          
             
               
               <div class="column">
                
                <p style="text-align:center;"><i class="fas fa-file-medical-alt"></i>&nbsp&nbsp&nbsp<b>FAST</b></p>
                      <p style="margin-left: 15px; font-size: 20px; margin-right: 15px;  text-align: center;">
                        Heart Disease Prediction System (HDPS) works very fast. As soon as user enters the required 13 data attributes through a 
                        form HDPS quickly processes that data and provide the probability of having Heart Disease just few seconds 
                        </p>
               </div>
                  </div>
          
                  
                </div>
                </div>
              </div>
              
<br>
<br>


                
  <!---call to action---->  
  <section id="contact">
    <h1 class="section-heading mb75px">
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
              
              
              <img src="img/download.png" height="39px" width="48px">
            </span>
            <span>Contact</span>
        </h1>
        <div id="contact-container">

            <div id="contact-form-container">
                <form id="contact-form">
                    <input id="input-name" name="name" type="text" placeholder="Your Name">
                    <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                    <textarea id="input-message" name="input-message" rows="5" cols=40 placeholder="Message"></textarea>
                    <button class="sub-btn" type="submit">SEND MESSAGE</button>
                </form>
            </div>

            <div id="my-details-container">
                <div id="imgcontainer"><img src="img/Screenshot (222).png " height="200px" width="500px"></div>
                <h3> Get In touch </h3>
                <p> A Group of Students who developed Student Helper</p>

                <h3> My Address </h3>
                <div class="my-details-info-container">
                    <div class="my-details-icons"><img src=""></i>
                    <span>Chandigarh University ,Chandigarh</span>
                </div>
                <div class="my-details-info-container">
                    <img class="my-details-icons"></i>
                    
                </div>
                
            </div>
        </div>
    </div>
    
        
</section>      
              
  
</body>

</html>