<!DOCTYPE html>
<html lang="en">
<head>
    <title>HDPS</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="pridict.css">

</head>
<body>
  <nav>
    <input type="text" name="checkbox " id="check">
    <label for ="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Heart Desease Pridiction</label>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">SIGN IN</a></li>
    </ul>
    
    
  </nav>
  
  <section>

    <h2 style="text-align:center">Please fill the following data correctly</h2>
    
    <br> <br>
     <!--  form -->




  <div style="width: 50%;" class="row ">
    


      

      <div class="row">
        <form  id ="form" class="col s12" method="POST" action=""> 
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a1">&nbsp;&nbsp;Age</label>
       
        <br>
        
         
          <input type="text" name="lname"
          id="name" placeholder="Enter your age here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a2">&nbsp;&nbsp;Sex</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter Your sex here(male=0,female=1">
          
        </div>
      </div>


      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a3">&nbsp;&nbsp;Chest Pain:</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your pain type here">
          
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a4">&nbsp;&nbsp;Trestbps</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Resting Blood Pressure here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a5">&nbsp;&nbsp;Serum cholestoral in mg/dl :</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Cholesterol here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
         
          <label for="a6">&nbsp;&nbsp;Fbs</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Fasting Blood Sugar here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a7">&nbsp;&nbsp;Restcg</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Resting Electrocardiographic Result here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a8">&nbsp;&nbsp;Thalach</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder=">Enter your Maximum Heart Rate Achieved here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a9">&nbsp;&nbsp;Exang</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Exercise Induced Angina here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a10">&nbsp;&nbsp;Oldpeak</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Exercise Relative to Rest here">
        </div>
      </div>


      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a11">&nbsp;&nbsp;Slope</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Segment/Heart Rate here">
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a12">&nbsp;&nbsp;Ca</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Ca here">
        </div>
      </div>


      
      <div class="row">
        <div class="input-field col s12 ">
          <i class="fas fa-caret-square-right"></i>
          <label for="a13">&nbsp;&nbsp;Thal</label>
          <br>
          <input type="text" name="lname"
          id="name" placeholder="Enter your Thalassemia here">
        </div>
      </div>
      
      
      
      
      <button class=" button button1" type="submit" name="action"  > Test Now
        <i class="far fa-arrow-alt-circle-right"></i>
      </button>


    </form>
  </section> 
        
  </div>

  <br>
  
     
  </body>
</html>